<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% include 'sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'topbar.html' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Apply GPU Form</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <label for="studentID">Student ID</label>
                                <input type="text" class="form-control form-control-user mb-4"
                                       id="studentID" value="{{ bar_service.user_id }}" readonly>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <label for="name">Name</label>
                                <input type="text" class="form-control form-control-user mb-4"
                                       id="name" value="{{ bar_service.user_chinese_name }}" readonly>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <label for="email">Email</label>
                                <input type="text" class="form-control form-control-user mb-4"
                                       id="email" value="{{ bar_service.user_email }}" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="gpuSelect">Select Your GPU</label>
                                <select class="form-control form-control-user mb-4" id="gpuSelect">
                                    {% for machine in bar_service.machines %}
                                        {% for gpu_id_pair in bar_service.machine_gpu_map[machine] %}
                                            <option value="{{ gpu_id_pair[1] }}">{{ machine }}
                                                - {{ gpu_id_pair[0] }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="startTime">Start Time</label>
                                <input type="date" class="form-control form-control-user mb-4"
                                       id="startTime">
                                <select class="form-control form-control-user mb-4" id="startTimeSelect">
                                    {% for i in range(24) %}
                                        <option value="{{ i }}">{{ "{:02d}".format(i) }} : 00</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">

                                <label for="endTime">End Time</label>
                                <input type="date" class="form-control form-control-user mb-4"
                                       id="endTime">

                                <select class="form-control form-control-user mb-4" id="endTimeSelect">
                                    {% for i in range(24) %}
                                        <option value="{{ i }}">{{ "{:02d}".format(i) }} : 00</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="">
                            <div>
                                <a id="Submit" href="#" class="btn btn-primary btn-user btn-block mb-1">
                                    Submit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include 'footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("Submit").addEventListener("click", function (event) {
            event.preventDefault();

            var gpuSelect = document.getElementById("gpuSelect").value;
            var startTime = document.getElementById("startTime").value;
            var startTimeSelect = document.getElementById("startTimeSelect").value;
            var endTime = document.getElementById("endTime").value;
            var endTimeSelect = document.getElementById("endTimeSelect").value;

            if (endTime < startTime || (endTime === startTime && endTimeSelect <= startTimeSelect)) {
                alert("結束時間必須大於開始時間！");
                return;
            }

            var data = {
                gpuSelect: gpuSelect,
                startTime: startTime,
                startTimeSelect: startTimeSelect,
                endTime: endTime,
                endTimeSelect: endTimeSelect
            };


            fetch('/apply', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    alert('log periods successfully')
                    window.location.reload();
                })
                .catch(error => {
                    alert('oops! an error occurs, please fix it by yourself')
                    window.location.reload();
                });
        });
    })
</script>

</body>

</html>