<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        {% include 'sidebar.html' %}
    </ul>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            {% include 'topbar.html' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                {% if index_service.current_using %}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Running</h1>
                    </div>
                    <div class="row">
                        {% for current_using in index_service.current_using %}
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                    {{ current_using['hardware'] }}
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_using['user'] }}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-running fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Idling</h1>
                </div>


                <div class="row">
                    {% for current_idling in index_service.current_idling %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ current_idling }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-walking fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Monthly GPU Usage Rate</h6>
                            </div>
                            <div class="card-body">
                                {% for hardware in index_service.hardware_usage %}
                                    <h4 class="small font-weight-bold">{{ hardware['hardware'] }}<span
                                            class="float-right">{{ hardware['usage'] }} %</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar {{ hardware['style'] }}" role="progressbar"
                                             style="width: {{ hardware['usage'] }}%"
                                             aria-valuenow="{{ hardware['usage'] }}" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include 'footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>

</html>